@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

body {
    color: whitesmoke;
    background-color: #393939;
    padding-bottom: 50px; /* Same as footer height */
}
.parts {
    border: 2px solid pink;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.parts h1 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.links {
    color: bisque;
}
.links:hover {
    color:rgb(240, 162, 161)
}
#buh {
    font-size: 10px;
}

#img {
    border: solid 0px;
    border-radius: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    height: 50px; /* Set a fixed height for the footer */
    background-color: #393939; /* Ensure footer background matches */
    color: whitesmoke;
}

/* Add padding to body to prevent content overlap with footer */
