@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');



* {
     font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    font-size: 13px;
}

h1 {
    font-size: 25px;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(255 232 202);
    padding-bottom: 50px;
}

.fish {
    color:rgb(79, 176, 255);
    font-size: 25px;
}

.parts {
    border: 2px solid rgb(79, 176, 255);
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.parts h1 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.links {
    color: rgb(79, 176, 255);
}
.links:hover {
    background-color: rgb(79, 176, 255);
    color:rgb(239, 239, 239);
}

.footer p{
    font-size: 13px;
}

.list {
    padding-left: 20px;
}

#username {
    color:rgb(79, 176, 255);
}

#buh {
    font-size: 10px;
    color: rgb(79, 176, 255);
}

#rule1 {
    font-size: 8px;
    color: rgb(79, 176, 255);
}

#username {
    color: rgb(79, 176, 255);
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#img {
    padding-left: 15px;
    width: 100px;
    height: 100px;
    border: solid 0px;
    border-radius: 100%;
}
.footer {
    border: 2px solid rgb(79, 176, 255);
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    padding-bottom: 3px;
    width: 100%;
    height: 45px;
    background-color: rgb(255, 232, 203);
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-bottom: 20px;
}


